.wrapper{
    width: 100%;
    max-width: 440px;
    text-align: center;
    border-radius: 5px;
    justify-content: space-between;
    align-items: center;

    position: relative;
    display: block;
    background: #fff;
    margin: auto;
    padding: 34px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}
.title{
} 
.wrapper h2{
    
    line-height: 80px;
    padding-left: 20px;
    font-size: 25px;
    font-weight: 600;
    border-radius: 5px 5px 0 0;
    background: #4070f4;
  }

  form{
    padding: 30px 20px 25px 20px;
  }
  .input-box{
    height: 45px;
    background: #fff;
    width: 100%;
    margin-bottom: 15px;
  }
  input{
    height: 100%;
    width: 100%;
  }
